/* Here you write Css Rules, A rule is one which has a selector, property and Value */

body { /* Inheritence has lowest Specifity */
    font-family: 'Montserrat', sans-serif;
}

#product-overview { /* ID Selector */
    background: #ff1b68;
}

.section-title {
    color: #2ddf5c;
    /* font-family: inherit; This isn't a good way, as then for adding this style to any other element we will have to explicitely mention this proporty everywhere we want */
}

/* Combinators can solve problem by letting us mention the exact element we want to apply a Specific Style */
#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

