.box {
    padding: 2px 20px 3px 15px;
    border: 2px solid black;
    background-color: #2ddf5c;
    margin: 15px 20px 10px 25px;


    height: 300px;
    width: 49%;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
}

#first-box { 
    display: none;
    /* visibility: hidden; */
}

div:last-of-type:hover {
    background-color: black;
    color: white;
    border: 2px solid red;
    cursor: pointer;
}

html, 
body {
    height: 100%;
}

